<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link to="/" :exact="true" class="navbar-brand">WedNow</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuContent" aria-controls="menuContent" aria-expanded="false" aria-label="Меню">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link to="/" :exact="true" class="nav-link">Главная</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/counter" class="nav-link">О нас</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/fetchdata" class="nav-link">Контакты</router-link>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Искать..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </div>
    </nav>
</template>
